<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
	
	<div mat-dialog-actions align="start">
        <button mat-icon-button style="color: green;" [routerLink]="['/groups/agregarusuario', grupo._id]">
            <mat-icon>add</mat-icon>
          </button>
        </div>

	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="table-responsive">
				<table class="table user-list">
					
						<tr>
							<th><span style="color: black;">Usuario</span></th>						
							<th><span style="color: black;">Email</span></th>
							<th>&nbsp;</th>
						</tr>
					
					<tbody>
						<ng-container *ngFor="let usuario of grupo.integrantes!">
						
						<tr>
							<td>
								<img src="assets/images/usuario.png" alt="">
								<a href="#" class="user-link">{{usuario.nombre}}</a>
								<span class="user-subhead" >{{usuario.rol!}}</span>
							</td>

							<td>
								<a style="color: black;">{{usuario.correo!}}</a>
							</td>
							<td style="width: 20%;" *ngIf="muestraEliminar(usuario.uid!)">

								<a  class="btn-danger separador" type="button" (click)="eliminarUsuarioGrupo(usuario.uid!)" style="color: rgb(210, 64, 64);">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</td>
						</tr>
					</ng-container>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</div>
