.table-title {        
    padding-bottom: 15px;
       background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
    color: #fff;
   
    border-radius: 1px 1px 0 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247)}

.fondo{
    color: linear-gradient(40deg, #2096ff, #05ffa3) !important;
}

::ng-deep .mat-tab-label{
    font-family: 'Varela Round', sans-serif;
    color:black;
   
  }


  .separador{
    margin-bottom: 200px;

}