
<div fxLayout= "column wrap"
    fxLayoutAlign="center"
    fxLayoutGap="20px">
    <mat-card >
        <mat-card-header>
            <mat-card-title>
                {{grupo.nombre}}
            </mat-card-title>
            <mat-card-subtitle>
                {{grupo.descripcion}}
            </mat-card-subtitle>

         
        </mat-card-header>
        <app-lista-usuarios></app-lista-usuarios>
    </mat-card>
    <div class="mb-3 row">
        <div class="col-sm-9">
            <button class="btn btn-primary "
                    routerLink="./listado">
                Regresar
            </button>
        </div>
    </div>

</div>