<div fxLayout="row wrap">
  
  <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100" class="separador" >
    <app-tarjeta-grupo></app-tarjeta-grupo>
  </div>

  <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100" class="separador" >
    <app-tab-lists [grupo] = "grupo"></app-tab-lists>
  </div>
  
  <div fxFlex.gt-lg="60" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100" class="separador" >
    <br>
    <a mat-raised-button routerLink="/groups/listado">Volver</a>
    
  </div>
  
</div>

